@import "tailwindcss";
@theme {
  --color-text-main:#ffffff;
  --color-bg-primary:#0A0119;
  --color-container: #1A1127;
}

:root{
  background-color: var(--color-bg-primary);
  color: var(--color-text-main);
  overflow-x: hidden;
}

.page-container{
  margin-left: auto;
  margin-right: auto;
  width: clamp(350px,90%,1280px);
}
